.header{
    width: 100%;
    height: 8vh;
    background-color: rgba(16, 99, 78, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        line-height: inherit;
        padding-left: 30px;
        color: white;
    }
    ul{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        a{
            color: white;
            font-size: 17px;
            line-height: 3px;
            font-family: sans-serif;
        }
        .active{
            color: #faba84 ;
            text-decoration: underline;
        }
    }
}